.responsive-table {
  width: 100%;
  border-collapse: collapse;

  
  tr:nth-child(even) {
    background-color: #242424;
  }

  thead tr{
    background-color: #4F6C83;
    text-align: center;
  }

  th,td{
    padding: 10px;
    border: 1px solid #ddd;
    color: #eaeaea;
  }
  .config{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all .2s;
      &:active{
        transform: scale(.6);
      }
    }
    
  }
}

@media (max-width:700px){
  .responsive-table{
    thead{
      display: none;
    }

    td{
      display: block;
    }
    td:before{
      content: attr(data-th) ": ";
      font-size: 1.1em;
      font-weight: bold;
    }

    .config{
      svg{
        font-size: 45px;
      }
    }
  }
}




.dataEmpty{
  display: flex;
  align-items: center;
  text-align: center;
  gap: .2em;
  span{
    color: #eaeaea;
  }

  svg{
    fill: #eaeaea;
    font-size: 40px;
  }
}

.edit-user svg{
  fill: lightgreen;
  font-size: 35px;
}
.remove-user svg{
  fill:  lightcoral;
  font-size: 35px;
}

.container_loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

// Animação loading

.loading {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-block;
}

.loading .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
  animation: circleAnimation 2s linear infinite;
}

.loading .circle:nth-child(1) {
  animation-delay: 0s;
}

.loading .circle:nth-child(2) {
  animation-delay: -0.5s;
}

.loading .circle:nth-child(3) {
  animation-delay: -1s;
}

@keyframes circleAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}