.responsive-table {
  width: 100%;
  border-collapse: collapse;

  
  tr:nth-child(even) {
    background-color: #333;
  }

  thead tr{
    background-color: #4F6C83;
    text-align: center;
  }

  th,td{
    padding: 10px;
    border: 1px solid #ddd;
    color: #eaeaea;
  }
  .config{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: all .2s;
      &:active{
        transform: scale(.6);
      }
    }
    
  }
}

@media (max-width:700px){
  .responsive-table{
    thead{
      display: none;
    }

    td{
      display: block;
    }
    td:before{
      content: attr(data-th) ": ";
      font-size: 1.1em;
      font-weight: bold;
    }

    .config{
      svg{
        font-size: 45px;
      }
    }
  }
}




.dataEmpty{
  display: flex;
  align-items: center;
  text-align: center;
  gap: .2em;
  span{
    color: #eaeaea;
  }

  svg{
    fill: #eaeaea;
    font-size: 40px;
  }
}

.edit-user svg{
  fill: lightgreen;
  font-size: 35px;
}
.remove-user svg{
  fill:  lightcoral;
  font-size: 35px;
}

.container_loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

// Animação loading

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 70px;
  height: 70px;
  position: relative;
}

.loader:before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid white;
  position: absolute;
  top: 0;
  left: 0;
  animation: pulse 1s ease-in-out infinite;
}

.loader:after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: white;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 2s linear infinite;
}

.loader-text {
  font-size: 24px;
  margin-top: 20px;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(0.6);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: none;
}

.loaded .loader-container {
  display: none;
}

.loaded .content {
  display: block;
}
